@model IEnumerable<LeadsEntity>

<br />

<h2>Leads</h2>
<hr />
<hr />

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeadDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeadSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeadStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextFollowUpDate)
        </th>
    </tr>

    @foreach (var items in Model)
    {
        @Html.HiddenFor(model => items.Id)
        <tr>
            <td>
                @Html.DisplayFor(modelItem => items.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.LeadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.LeadSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.LeadStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items.NextFollowUpDate)
            </td>
            <td>
                <a asp-action="EditLead" asp-route-Id="@items.Id"><i class="bi bi-pen">Edit</i></a>

                <a asp-action="DeleteLead" asp-route-Id="@items.Id"><i class="bi bi-trash-fill">Delete</i></a>
            </td>
        </tr>
    }
</table>

<br />
<p>
    <a asp-action="AddLead" asp-controller="Leads" class="btn btn-primary">Add New Lead</a>
</p>